<p>
	hello. 
</p>	

<% if current_user.setup_complete? %>

	Setup is complete. <%= link_to "Start blogging!", new_post_path %>	
	
<% elsif current_user.setup_almost_complete? %>	
	
	Please <%= link_to "create", github_new_repo_url %> 
	a repo called <b><%= "#{current_user.remote_repo_name}" %> </b>
	in your github account

<% elsif current_user.setup_incomplete? %>	
	
	<% if current_user.got_code? && current_user.got_access? %>
		Setup in progress 
		<%= link_to "finish setup", finish_setup_url %><br/>
	<% else %>
		<%= link_to "Allow github access", github_auth_url %>
	<% end %>
	
<% end %>	