<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Permalink:</b>
  <%= @post.permalink %>
</p>

<p>
  <b>Tags:</b>
  <%= @post.tags %>
</p>


<%= link_to 'Edit', edit_site_post_path(@site, @post) %> |
<%= link_to 'Back', site_posts_path(@site) %>
