<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Root:</b>
  <%= @site.root %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %> | 
<%= link_to 'Generate', generate_site_path(@site) %> | 
<%= link_to 'source-push', push_site_path(@site) %>
